
body {
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Countries_where_French_is_an_official_language.svg/2000px-Countries_where_French_is_an_official_language.svg.png');

}

ul {
	list-style-type: none;
}

.container {
margin-top: 300px;
margin-left: 100px;
position: absolute;
}
